.favorites-container {
    display:flex;
    justify-content: space-evenly;
}
.favorites-title {
    padding: 1vh;
}
.favorites-wrapper {
    color: white;
    background-color: #0C1940;
    height: 50vh;
    margin: 2vh 0;
}

.songs-container {
    display: grid;
    grid-template-columns: repeat(5,auto);
    row-gap: 3vh;
    justify-content: space-evenly;
    margin: 2vh 2vw;
}

.songs-wrapper {
    color: #0C1940;
    background-color: white;
    padding: 1vh;
}