


/* .app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


/*NavBar*/
.navbar {
  /* background-color: rgba(33,33,33,.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; */
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: calc(100% - 180px);
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: all 600ms ease 0s;
}

.float-logo {
  font-weight:500;
}

.goat-header {
  width: 100vw;
  height: 80vh;
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 10px;
  
}

li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: black;
}

.solo-sneaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sneaker-headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-sneakers {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */
.add-btn {
  background-color: #61dafb;
  border: 0;
  padding: 10px 15px;
  margin-bottom: 4rem;
}
.sub-btn {
  background-color: #61dafb;
  border: 0;
  padding: 10px 20px;
}

#delete-btn {
  background-color: red;
  border: 0;
  padding: 10px 15px;
  margin: 1rem;
}

#edit-btn {
  background-color: aquamarine;
  border: 0;
  padding: 10px 15px;
}
.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.main-form input {
  width: 400px;
}

.sneaker-edits {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.sneaker-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.solo-sneaker {
  display: flex;
  justify-content: center;
  align-items: center;


}

.x-btn {
  background-color: #61dafb;
  color: white;
  border: 0;
}

/* img {
  width: 65%;
} */

img {
  width: 150px;
}
.element {
  /* margin-block: 2rem; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.footer-links{
  display: flex;
  gap: 2rem;
}



.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 30px;
}

.new-container {
  display: flex;
  justify-content: center;
}